.App {
  text-align: center;
}

.input{
   width:20rem;
   
   border: none;
   height: 50px;
   border-bottom:1px solid gray;
   margin-bottom: 10px;
   background-color: aquamarine;
   border-radius: 5px;
   text-align: center;
  
}